html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: justify;
}

a {
  color: #705dac;
  text-decoration: none;
}

a:hover {
  color: #4c2081;
  text-decoration: none;
}

ul.nav {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

ul.nav li {
  margin-bottom: 5px;
  text-align: center;
}

#sidebar {
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  margin: 0;
  overflow-y: auto;
  height: 100%;
  width: auto;
  background-color: #f7f3fc;
}

.header {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.1;
}

.blog-title {
  font-weight: 420;
  font-size: 22px;
  line-height: 1.1;
}

.section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
}

.contact {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact a {
  text-decoration: none;
  color: #000; 
  font-size: 20px;
}

.profile-container {
  text-align: center;
}

.no-margin {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: 14px;
  color: gray;
}
